.bannerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #121874;
}

.bannerParagraph {
    width: 100%;
    height: 100%;
}

.bannerParagraphSelf {
    font-size: 1.5rem;
    color: #fff;
}

